nav li {
    list-style: none;
    margin-right: 20px;
    padding: 0 10px;
}

nav li:hover {
    background-color: lightcyan;
}

nav li a {
    font-size: 25px;
    text-decoration: none;
    color: deepskyblue;
}

nav>ul {
    display: flex;
}

.dropdown {
    display: none;
    position: absolute;
    background-color: green;
    padding: 0;
}

.dropdown li {
    margin: 0;
    padding: 0 10px;
}

nav>ul>li:hover>ul {
    display: block;
}